<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="redshift_tray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <redshift_tray.Properties.Settings>
            <setting name="RedshiftAppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RedshiftLatitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RedshiftLongitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RedshiftTemperatureDay" serializeAs="String">
                <value>5500</value>
            </setting>
            <setting name="RedshiftTemperatureNight" serializeAs="String">
                <value>3500</value>
            </setting>
            <setting name="RedshiftTransition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugConsoleLeft" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="DebugConsoleTop" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="DebugConsoleWidth" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="DebugConsoleHeight" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="DebugConsoleWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="AboutLeft" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="AboutTop" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="SettingsWindowLeft" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="SettingsWindowTop" serializeAs="String">
                <value>-10000</value>
            </setting>
            <setting name="RedshiftEnabledOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RedshiftBrightnessDay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RedshiftBrightnessNight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RedshiftGammaRed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RedshiftGammaGreen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RedshiftGammaBlue" serializeAs="String">
                <value>1</value>
            </setting>
        </redshift_tray.Properties.Settings>
    </userSettings>
</configuration>